MONGO_URI = 
ENV = 
TOKEN = 
DISCORD_CLIENT_ID = 
DISCORD_CLIENT_SECRET = 
DISCORD_REDIRECT_URI = 
DISCORD_API_BASE_URL = 
OAUTH_SCOPE = 
COMMAND_WEBHOOK = 
PRC_API_URL = "https://api.policeroleplay.community/v1"
PRC_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxMjYsImVtYWlsIjoiYWRtaW5AcG9saWNlcm9sZXBsYXkuY29tIiwicm9sZSI6ImFkbWluIiwiaWF0IjoxNjA5MzQwNjQ5LCJleHAiOjE2MDk0MjY2NDl9.7"
SENTRY_DSN = 
