#'MYSQL' or 'MONGO' according to the database you are using
DATABASE = 

#If you are using MySQL, fill in the following fields
MYSQL_HOST =
MYSQL_USER =
MYSQL_PASSWORD =
MYSQL_DATABASE =

#If you are using MongoDB, fill in the following fields
MONGO_URI = 
ENV = 

#Fill in the following fields
TOKEN = 

#The following fields are optional
DISCORD_CLIENT_ID = 
DISCORD_CLIENT_SECRET = 
DISCORD_REDIRECT_URI = 
DISCORD_API_BASE_URL = 
OAUTH_SCOPE = 
COMMAND_WEBHOOK = 
PRC_API_URL = "https://api.policeroleplay.community/v1"
PRC_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxMjYsImVtYWlsIjoiYWRtaW5AcG9saWNlcm9sZXBsYXkuY29tIiwicm9sZSI6ImFkbWluIiwiaWF0IjoxNjA5MzQwNjQ5LCJleHAiOjE2MDk0MjY2NDl9.7"

#Fill in the following field if you want to use Sentry
SENTRY_DSN = 

