MONGO_URI = 

PRODUCTION_TOKEN = 
DEV_TOKEN = 

DISCORD_CLIENT_ID = 
DISCORD_CLIENT_SECRET = 
DISCORD_REDIRECT_URI = 
DISCORD_API_BASE_URL = "https://discord.com/api"
OAUTH_SCOPE = "identify+guilds"

FLASK_SECRET_KEY = "SECRET_KEY"

PERSPECTIVE_API_KEY = "AIzaSyDo-R8Jocpqoi_Fn0E5hMUt-9OCAlAaHSM"
DISCORD_TOKEN = ''