aiohttp
git+https://github.com/Rapptz/discord.py
jishaku
pymongo
python-dotenv
pytz
sentry-sdk
requests
python-decouple
roblox
fastapi
uvicorn
markdown
joblib
scikit-learn
numpy
python-jose
motor
snowflake-id