body {
  background-color: black;
  color: #ffffff;
  scroll-behavior: smooth;
  transition: all 0.25s linear; 
}

.sidebar {
  background-color: #1a1a1a; /* Dark sidebar */
}

.sidebar .nav-link {
  color: #fff; /* White text for links */
}

.sidebar .nav-link:hover {
  color: #f0ad4e; /* Change color on hover */
}

.list-group {
  background-color: #000; /* Pure black for list groups */
  color: #fff; /* White text for list items */
}

.list-group-item {
  background-color: #000; /* Pure black for list items */
  color: #fff; /* White text for list items */
}

.list-group-item:hover {
  background-color: #333; /* Slightly lighter on hover */
}

h1, h2, h3, h4 {
  color: #fff; /* White text for headings */
}
.navbar{
    background-color: #000000;
}
.navbar-logo {
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
  }
  
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #ffffff;
}

.hero {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaDTl8kFXubtSpUO35g1V0qyLAvfvuC-Cnsg&s);
  background-size: cover;
  color: white;
  padding: 100px 0;
  text-align: center;
}
.feature {
  padding: 40px 0;
}
.card {
  background-color: #3d3d3d;
  color: #ffffff;
  border: none;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 8px 16px rgb(144, 255, 249);
}
.card-border {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: #7289da solid 2px;
  border-radius: 5px;
  background-size: 200% 200%;
  animation: borderAnim 2s linear infinite;
}
.card-content {
  position: relative;
  z-index: 1;
}
.card-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
@keyframes borderAnim {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
.guild_containers {
  margin-top: 50px;
}

.server_card {
  box-shadow: 5px 8px 16px rgba(6, 155, 255, 0.532);
  background-color: #000000;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s, box-shadow 0.2s;
}

.server_card:hover {
  transform: scale(1.05);
  box-shadow: 5px 8px 16px rgb(0, 81, 135);
}

.guild-icon {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.server_card h5 {
  flex-grow: 1;
  margin: 0;
}

.btn-primary {
  background-color: #7289da;
  border-color: #7289da;
}

.dropdown-menu {
  background-color: #1e1e1e;
  border: 1px solid #444;
  padding: 0;
}

.form-check-input {
  background-color: #1e1e1e;
  border: 1px solid #444;
}

.form-check-input:checked {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.form-check-label {
  color: #ffffff;
}

.scrollable-dropdown { 
  max-height: 200px; 
}
