{% extends "base.html" %}

{% block title %}Home | Cyni{% endblock %}

{% block content %}

<div class="hero text-center text-white py-5 position-relative overflow-hidden" style="height: 100vh; font-family: 'Poppins', sans-serif;">
    <div class="bg-animation position-absolute top-0 start-0 w-100 h-100"></div>
    <div class="position-relative z-1">
        {% if session['username'] %}
        <h3 class="display-5 mb-3">Hey {{ session['username'] }} 👋</h3>
        {% endif %}
        <h1 class="display-2 fw-bold mb-4">Welcome to CYNI Bot</h1>
        <p class="lead fs-4 mb-5">The Next Generation Bot for Discord Moderation, Fun, Giveaway, etc to your community.</p>
        <a href="https://discord.com/oauth2/authorize?client_id=1136945734399295538&permissions=8&integration_type=0&scope=bot" class="btn btn-primary btn-lg px-4 py-3">Add to Discord</a>
    </div>
</div>

<!--Features Header-->
<div style="text-align: center; margin-top: 50px; margin-bottom: 50px; padding: 20px; border-radius: 20px; border-color: aquamarine; border-width: 2px; border-style: solid;">
    <h2>Features</h2>
    <p>Discover the features that make Cyni the perfect bot for your server.</p>
</div>
<div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Moderation
          </div>
  
          <div class="ag-courses-item_date-box">
            Equip your server's moderation team with over 20 powerful commands, including automated moderation features, all customizable via the config command.
          </div>
        </a>
      </div>

        <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
                Staff Management
            </div>
    
            <div class="ag-courses-item_date-box">
                Streamline the management of staff infractions and application results with the Staff Management feature, which also tracks message activity for efficient oversight.
            </div>
            </a>
        </div>
  
        <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>
  
            <div class="ag-courses-item_title">
                Easy Config
            </div>
  
            <div class="ag-courses-item_date-box">
                Customize Cyni to your server's needs with the Cyni Config command and Dashboard, which allows you to change configuration settings easily.
            </div>
            </a>
        </div>

        <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
                Server Logging
            </div>
        
            <div class="ag-courses-item_date-box">
                Ensure comprehensive server event tracking with Cyni Audit Logging, which captures key actions such as member joins, leaves, message deletions, and edits.
            </div>
            </a>
        </div>

        <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>
    
                <div class="ag-courses-item_title">
                    Ban Appeal Module
                </div>

                <div class="ag-courses-item_date-box">
                    Implement a streamlined Ban Appeal module to handle user appeals efficiently, allowing your moderation team to review, manage, and resolve appeals with ease.
                </div>
            </a>
        </div>

        <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>
    
                <div class="ag-courses-item_title">
                    Utility & Fun Commands
                </div>

                <div class="ag-courses-item_date-box">
                    Utilize a variety of utility commands, including 'whois' for user information, and fun commands for displaying random dog and cat images.
                </div>
            </a>
        </div>

        <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    Giveaway
                </div>

                <div class="ag-courses-item_date-box">
                    Host giveaways with ease using Cyni's giveaway command, which allows you to create and end giveaways effortlessly.
                </div>
            </a>
        </div>

        <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>
    
                <div class="ag-courses-item_title">
                    Cyni Logging
                </div>

                <div class="ag-courses-item_date-box">
                    Ensure better security with Cyni command logging & Cyni config change log, which will help servers prevent abuse of commands.
                </div>
            </a>
        </div>

        <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>
        
                <div class="ag-courses-item_title">
                    More Soon
                </div>

                <div class="ag-courses-item_date-box">
                    We are working on more features to make your server more fun and secure. Stay tuned for more updates.
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}