{% extends "base.html" %}

{% block title %}Home | Cyni{% endblock %}

{% block content %}

  <div class="hero">
    {% if session['username'] %}
    <h3 class="animate__animated animate__fadeInDown">Hey {{ session['username'] }} 👋</h3>
    {% else %}
    {% endif %}
    <h1 class="animate__animated animate__fadeInDown">Welcome to Cyni Bot</h1>
    <p class="animate__animated animate__fadeInUp" style="font-size: 30px ">The Next Generation Bot for Discord Moderation, Fun, Giveaway, etc to your community.</p>
    <a href="https://discord.com/oauth2/authorize?client_id=1136945734399295538&permissions=8&integration_type=0&scope=bot" class="btn btn-primary btn-lg animate__animated animate__bounceIn">Add to Discord</a>
  </div>

    <div id="features" class="container feature">
        <h1 style="text-align: center;">Features</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-border"></div>
                        <div class="card-content">
                            <div class="card-body">
                                <img src="../static/images/moderation.png" class="card-image">
                                <h5 class="card-title">Moderation</h5>
                                <p class="card-text">Equip your server's moderation team with over 20 powerful commands, including automated moderation features, all customizable via the config command.
                                </p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                <div class="card-border"></div>
                    <div class="card-content">
                        <div class="card-body">
                            <img src="../static/images/staffmanager.png" class="card-image">
                            <h5 class="card-title">Staff Management</h5>
                            <p class="card-text">Streamline the management of staff pinfractions and application results with the Staff Management feature, which also tracks message activity for efficient oversight.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-border"></div>
                        <div class="card-content">
                            <div class="card-body">
                              <img src="../static/images/loa.png" class="card-image">
                              <h5 class="card-title">Leave Of Absence/Quota Exemption</h5>
                              <p class="card-text">Simply request LOA from Cyni, approve/decline/extent/void/delete staff LOA or RA according to requirements.
                              </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="features" class="container feature">
      <div class="row">
          <div class="col-md-4">
              <div class="card text-center">
                  <div class="card-border"></div>
                      <div class="card-content">
                          <div class="card-body">
                              <img src="../static/images/logging.png" class="card-image">
                              <h5 class="card-title">Server Logging</h5>
                              <p class="card-text">Ensure comprehensive server event tracking with Cyni Audit Logging, which captures key actions such as member joins, leaves, message deletions, and edits.
                              </p>
                          </div>
                      </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card text-center">
              <div class="card-border"></div>
                  <div class="card-content">
                      <div class="card-body">
                          <img src="../static/images/banappeal.png" class="card-image">
                          <h5 class="card-title">Ban Appeal Module</h5>
                          <p class="card-text">Implement a streamlined Ban Appeal module to handle user appeals efficiently, allowing your moderation team to review, manage, and resolve appeals with ease.</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card text-center">
                  <div class="card-border"></div>
                      <div class="card-content">
                          <div class="card-body">
                            <img src="../static/images/utility.png" class="card-image">
                            <h5 class="card-title">Utility & Fun Commands</h5>
                            <p class="card-text">Utilize a variety of utility commands, including 'whois' for user information, and fun commands for displaying random dog and cat images.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="features" class="container feature">
    <div class="row">
      <div class="col-md-4">
          <div class="card text-center">
              <div class="card-border"></div>
                  <div class="card-content">
                      <div class="card-body">
                          <img src="../static/images/giveaway.png" class="card-image">
                          <h5 class="card-title">Giveaway</h5>
                          <p class="card-text">Host giveaways with ease using Cyni's giveaway command, which allows you to create and end giveaways with ease.</p>
                      </div>
                  </div>
          </div>
      </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-border"></div>
                    <div class="card-content">
                        <div class="card-body">
                            <img src="../static/images/cynilogs.png" class="card-image">
                            <h5 class="card-title">Cyni Logging</h5>
                            <p class="card-text">Ensure better security, with cyni command logging & cyni config change log. Which will help servers to prevent abuse of commands.</p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
              <div class="card-border"></div>
                    <div class="card-content">
                      <div class="card-body">
                          <img src="../static/images/configuration.png" class="card-image">
                          <h5 class="card-title ">Easy Config</h5>
                          <p class="card-text">Customize Cyni to your server's needs with the Cyni Config command, which allows you to change configuration.</p>
                      </div>
                    </div>
              </div>
      </div>
    </div>
  </div>

{% endblock %}