<nav class="col-md-3 col-lg-2 d-md-block sidebar" style="background-color: #000; border-right: 1px solid #f0ad4e;">
    <div class="position-sticky">
        <p class="text-light text-left mt-3">
            <a href="{{ url_for('dashboard') }}" class="text-light">Dashboard</a>
        </p>
        <h6 class="mt-3 text-light" data-toggle="collapse" data-target="#modulesNav" aria-expanded="false" aria-controls="modulesNav" style="cursor: pointer;">
            Modules Navigation
        </h6>
        <div class="collapse" id="modulesNav">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{url_for('guild', guild_id=guild.id)}}">Guild Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{url_for('guild_settings_basics', guild_id=guild.id)}}">Basic Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('anti_ping_settings', guild_id=guild.id) }}">Anti Ping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('moderation_settings', guild_id=guild.id) }}">Moderation</a>
                </li>
            </ul>
        </div>
        <h6 class="mt-3 text-light" data-toggle="collapse" data-target="#applicationNav" aria-expanded="false" aria-controls="applicationNav" style="cursor: pointer;">
            Applications
        </h6>
        <div class="collapse" id="applicationNav">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{url_for('create_application', guild_id=guild.id)}}">Create Application</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{url_for('applications', guild_id=guild.id)}}">Manage Applications</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Application Settings</a>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link text-light" href='{{url_for("application_logs", guild_id=guild.id)}}'>Application Logs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>